:root {
    --primary: #e91e63; /* Main Branding Color */
    --bg-dark: #080808;
    --glass: rgba(255, 255, 255, 0.05);
    --border: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-dark);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px;
}

.reg-container {
    background: var(--glass);
    backdrop-filter: blur(15px);
    border: 1px solid var(--border);
    padding: 40px;
    border-radius: 30px;
    margin-top: 60px;
    width: 100%;
    max-width: 750px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.reg-header { text-align: center; margin-bottom: 35px; }
.reg-logo img { border-radius: 50%; border: 2px solid var(--primary); margin-bottom: 10px; }
.reg-header h1 { font-size: 2.2rem; margin-bottom: 5px; }
.reg-header h1 span { color: var(--primary); }
.reg-header p { font-size: 13px; color: #aaa; }

.reg-form .input-group { display: flex; gap: 20px; }
.input-box { margin-bottom: 22px; width: 100%; }
.input-box label { display: block; font-size: 14px; margin-bottom: 8px; color: #dedede; }

.input-box input, .input-box select {
    width: 100%; padding: 12px 15px;
    background: rgba(255, 255, 255, 0.885);
    border: 1px solid var(--border);
    color: black;
    border-radius: 10px; color: #000000; outline: none; transition: 0.3s;
}

.input-box input:focus { border-color: var(--primary); }

/* File Upload Design */
.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px dashed var(--border);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.file-drop-area:hover { border-color: var(--primary); background: rgba(233, 30, 99, 0.05); }

.file-drop-area i { font-size: 25px; color: var(--primary); margin-right: 15px; }
.file-drop-area input {
    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
    opacity: 0; cursor: pointer;
    margin-bottom: 20px;
}

.submit-btn {
    width: 100%; padding: 15px; background: var(--primary);
    border: none; border-radius: 12px; color: #fff; font-weight: 600;
    cursor: pointer; transition: 0.4s; display: flex; justify-content: center; align-items: center; gap: 10px;
    box-shadow: 0 10px 20px rgba(233, 30, 99, 0.2);
    margin-top: 30px;
}

.submit-btn:hover { background: #ff4081; transform: translateY(-3px); }

.form-footer { text-align: center; margin-top: 25px; }
.form-footer a { color: #888; text-decoration: none; font-size: 14px; }

@media (max-width: 600px) {
    .reg-form .input-group { flex-direction: column; gap: 0; }
    .reg-container { padding: 30px 20px; }
}